main.main.about {
    padding-top: 0;
    padding-bottom: 0;
}
.about {
    text-align: center;
    .about-header {
        padding: 10px 0 0 0;
        #user_name {
            font-size: $title-size;
        }
        #user_icon {
            width:  $profile-img-width;
            height: $profile-img-height;
            margin: 10px auto;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 0px 10px 5px $box-shadow;
            &>img {
                object-fit: contain;
            }
        }
    }

    &-icons {
        &>div.icons {
            justify-content: center;
            font-size: 2rem;
            color: $blue;
            a,button {
                margin: 0 .2rem;
            }
            button { color: $blue; }
        }
    }
    &-grass {
        height: 100%;
        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            &>div.grass-graph__wrapper {
                box-shadow: 0px 8px 10px 1px $box-shadow;
                border: solid 1px $border;
                padding: 10px;
                border-radius: $border-radius;
            }
        }
    }
}

article.about {
    height: calc(100vh - #{$header-height});

    &#tech-stack {
        & > main {
            height: 100%;
        }
    }
}

#profile {
    display: flex;
    flex-direction: column;
    &>section {
        flex-grow: 1;
    }
}
