.menuList {
    margin-right: 50px;
    color: $dark;
    .separator {
        margin: auto 5px;
    }
}

.page-header {
    margin: 0 auto 20px auto;
    @each $size, $value in $sizes {
        @include bp($size) {
            width: #{$value};
        }
    }
}

.flex {
    display: flex;
}

article.first-entry {
    min-height: calc(#{$header-height} + 80px + 80px); // overwrite
    .post-header, .post-summary, .post-footer, .post-link {
        @each $size, $value in $sizes {
            @include bp($size) {
                min-width: #{$value};
            }
        }
    }
}