.page-header,
.post-view {
    margin-left: auto;
    margin-right: auto;
    @each $size, $value in $sizes {
        @include bp($size) {
            min-width: #{$value};
        }
    }
    .post-title {
        font-size: $title-size;
    }
    .post-tags {
        margin: 10px 0 0 !important;
    }
}
.post-entry {
    @each $size, $value in $sizes {
        @include bp($size) {
            min-width: #{$value};
        }
    }
}
