{{ partial "header.html" . }}

{{ $pctx := . }}

{{ if .IsHome }}
  {{ $pctx = .Site }}
{{ else }}
  <header class="page-header">
    <h1>{{ if eq .Data.Singular "tag" }}{{ .Data.Term }}{{ else }}Posts{{ end }}</h1>
  </header>
{{ end }}

{{ $paginator := .Paginate (where $pctx.RegularPages "Type" "in" .Site.Params.mainSections) }}

{{ if gt $paginator.TotalPages 0 }}
  {{ range $index, $page := $paginator.Pages }}

    {{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}
      {{ .Scratch.Set "postClass" "first-entry" }}
    {{ else }}
      {{ .Scratch.Set "postClass" "post-entry" }}
    {{ end }}

    {{/* Concatenate tags to string */}}
    {{ if eq .Params.tags nil}}
      {{ .Scratch.Set "postTags" "" }}
    {{ else }}
      {{ $lowerTags := slice }}
      {{range $tag := .Params.tags}}
        {{/* replace "." to "_" */}}
        {{ $lowerTags = $lowerTags | append (replace (lower $tag) "." "_") }}
      {{ end }}
      {{ .Scratch.Set "postTags" (delimit $lowerTags " ") }}
    {{ end }}

    <article class="post {{ .Scratch.Get `postClass` }}" data-tags="{{ .Scratch.Get `postTags` }}">
      <header class="post-header">
        <h2 class="post-title">{{ .Title }}</h2>
      </header>
      <p class="post-summary">{{ .Summary | plainify | htmlUnescape }}...</p>
      <footer class="post-footer">
        <p class="post-meta">{{ .Date.Format "2006.1.2" }}</p>
      </footer>
      <a class="post-link" href="{{ .Permalink }}"></a>
    </article>
  {{ end }}
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
  <footer class="list-footer">
    <nav class="pagination">
      {{ if $paginator.HasPrev }}
      <a class="pagination-prev" href="{{ $paginator.Prev.URL }}">← Prev Page</a>
      {{ end }}
      {{ if $paginator.HasNext }}
      <a class="pagination-next" href="{{ $paginator.Next.URL }}">Next Page →</a>
      {{ end }}
    </nav>
  </footer>
{{ end }}

{{ partial "footer.html" . }}
